@charset "UTF-8";
html,body {
	font-family: "Microsoft YaHei","Arial","Helvetica","sans-serif";
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: "Microsoft YaHei","Arial","Helvetica","sans-serif";
}
*{margin: 0;padding: 0;}
.bg{background: #f7f8fa;}
.raqbody{color:#000;font-size:14px;height:100%;width:100%;}
.quantbody{height:100%;overflow:hidden;color:#000;font-size:14px;}
.quantbody html{height:100%;overflow:hidden;color:#000;font-size:14px;min-height:100%;}

.banner{display:block;position:relative;text-align:center;padding-left:0px;padding-top:0px;margin-top:0px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#DADADA;/* height:125px; */overflow:hidden;}
.banner_img{opacity:0.4;width:100%;height:125px;z-index:0;position:absolute;right:0px;}
.banner_h1{ color:#fff;font-size:40px;font-weight:400;}

.ft_12{font-size: 12px;}
.corf3{color: #f34235;}
.corb6{color: #b6b6b6;}
.corf{color: #fff;}
.cor21{color: #212121;}
.cor72{color: #727272;}
.corfd{color: #fd5454;}
.cor18{color: #1875d1;}
.cordown{color: #4caf50;}
.corup{color: #f34235;}

.lh32{line-height: 32px !important;}
.lh2{line-height: 2;}

.pdb20{padding-bottom: 20px;}

.curp{cursor: pointer;}
/* 头部 */
.raqnav{font-weight:300;color:#fff;background-color:#17406B;border-bottom-color:#17406b;padding-bottom:0px;margin-bottom:0px;font-size:14px;border-width:0;};
.head_back{background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8000000,endColorstr=#C8000000);}
/*策略*/
.maindiv{border: 1px solid #999;border-radius: 3px;};

/*设置提醒*/

/*侧边栏*/

/*内容区*/
.maincont{width: 100%;height:920px;}
.sidebar{float:right;width:21%;font-size:14px;height:920px;border:1px solid #ddd;border-right:#fff;border-radius: 0px;padding-top:12px;}
.main{width: 79%;height:920;padding: 0px;float:right;border: 1px solid #ddd;border-bottom:#fff;border-left:#fff;}


.form_container{background-color:#FFF;border-radius:3px;border:1px solid #E6E6E6;padding-left:85px;padding-right:85px;padding-top:55px;padding-bottom:55px;width:1140px;margin-left:auto;margin-right:auto;margin-top:10px;}
.form2_container{height:100%;min-height:450px;border:0;background-color:#FFF;padding-left:0;padding-right:0;padding-top:0px;padding-bottom:0px; max-width:1140px; margin-left:auto;margin-right:auto;margin-top:10px;padding-bottom:55px;}


.tbdiv{width:100%;border:1px solid #ddd;border-left:#fff;border-top:#fff; }
table.hovertable {
    width:100%;
    margin-top:30px;
/*	font-family: verdana,arial,sans-serif;*/
	font-size:11px;
	color:#727272;
	border-left: 1px solid;
	border-color: #dadada;
	border-collapse: collapse;
}
table.hovertable th {
	text-align: center;
	border-width: 0px;
    border-bottom: solid 1px #dadada;
	padding: 8px;
	border-style: solid;
	border-color: #dadada;
	color: #9e9e9e;
	background: #fff;
}
table.hovertable tr {
	background-color:rgb(215,223,229);
}
table.hovertable td {
	border-width: 0px;
    border-bottom: solid 1px #dadada;
	padding: 8px;
	border-style: solid;
	border-color: #dadada;
}

table.dataTable{width:100%;}
table.dataTable th{color:#333; background: #EAE5DA;vertical-align:bottom;border-right:2px solid #FFF; }
table.dataTable tr{ background-color: #FFF; padding: 7px; }
table.dataTable td { padding:6px 5px; border-bottom: solid 1px #D9D9D9; }


.secondary{
	white-space:nowrap;
	cursor:pointer;
	outline-color:rgb(22,137,229);
	text-decoration-color:rgb(22,137,229);
	color:#2f97eb;
	background-color:#eee;
	border-left-color:rgb(22,137,229);
	border-right-color:rgb(22,137,229);
	border-top-color:rgb(22,137,229);
	border-bottom-color:rgb(22,137,229);
	border-width:2px;
}
.secondary:hover{
	color:#fff;
	background-color:#2f97eb;
	text-decoration-color:rgb(22,137,229);
}
.secondary1,.secondary2{
	white-space:nowrap;
	cursor:pointer;
	text-align: center; 
 	margin: 0 auto;
 	background: #f7f8fa;
}
.secondary2{border-bottom: 3px solid #ebeef0;}
.secondary1 a{
	color: #525d66 !important;
}

.secondary2 a{
	color: #5ab2f9 !important;
}


.kpilist{background: rgb(216,223,230);padding: 10px 0.5%;border-radius: 3px;text-align: left;width:100%;height:70px;}
.kpili{padding-left:40px;}
.kpili li{float: left;color: #3883cd;list-style:none;padding: 4px 4px;width:60px;}
.overview_kpili li{float: left;color: #3883cd;list-style:none;padding: 4px 20px;width:250px;}


/* .prod a{display:inline-block;float:left;margin-left:0px;margin-top:0px;overflow:hidden;} */
.prod2{box-sizing:border-box;position:relative;display:inline-block;float:left;margin-left:20px;margin-top:20px;width:300px;height:100%;text-align:center;border:0px solid #999;overflow:hidden;}
.prod .info_img_box{margin: 0 auto;position: relative;overflow: hidden;}
.page_container{height:100%;margin-top:50px;border:1px solid #E6E6E6;border-radius:3px;padding-left:30px;padding-right:30px;width:100%;margin-right:auto;margin-left:auto;background-color:#FFF;}
.code_container{padding-top:0px;width:50%;height:100%;float:left;position:relative;overflow:hidden;border-right:1px solid #ddd;}
.output_container{padding-top:0px;width:50%;height:100%;float:right;position:relative;}
.logs{background-color:#000;overflow:scroll;overflow-x:hidden;height:467px;color:#fff;}

.raqfooter{padding-bottom:45px;}
.M_new{display:inline-block;background:#da372a;width:7px;height:7px;overflow:hidden;border-radius:4px;position:absolute;padding-top:5px;}


/*底部*/
.footer{text-align: center;}
.footer .warning{font-size: 14px;color: #313232;margin: 84px 0 24px 0;}
.footer .about_cont{width: 100%;background: #e5e9ee;position: relative;}
.footer .about_cont ul{margin: 0 auto;padding: 0;display: inline-block;}
.footer .about_cont li{padding: 20px 24px;float: left;color: #525d66;font-size: 14px;}
.footer .about_cont .mail{
	position: absolute;left: 50%;width: 32px;height: 24px;
	margin-left: 500px;top: 50%;margin-top: -12px;
}



@media (max-width: 768px){
.mgb_12{margin-bottom: 8px;}
.prod{box-sizing:border-box;position:relative;display:inline-block;float:left;/* margin-left:10px; width:230px;*/margin-bottom:20px;text-align:center;overflow:hidden;background: #fff;}
.prod .info_img_box{width: 140px;height: 140px;}
.prod img{width: 138px;}
.mdata_info_box .btn_{width: 40px;}
.mdata_info_box .lh{line-height: 20px;}
.mdata_info_box .h{}
.secondary1,.secondary2{width: 140px;}
.secondary1{
	padding-top: 20px;
	font-size: 16px;
}
.secondary2{
	padding-top: 10px;
	font-size: 14px;
}
.mdata_box{height: 140px;}

}

@media (min-width: 768px){
.mgb_12{margin-bottom: 12px;}
.prod{box-sizing:border-box;position:relative;display:inline-block;float:left;/* margin-left:10px; width:230px;*/margin-bottom:30px;text-align:center;overflow:hidden;background: #fff;}
.prod .info_img_box{width: 230px;height: 230px;}
.prod img{width: 228px;}
.mdata_info_box .btn_{width: 60px;}
.mdata_info_box .lh{line-height: 32px;}
.mdata_info_box .h{margin-top: 11px;}
.secondary1,.secondary2{width: 230px;}
.secondary1{padding-top: 32px; font-size: 20px; }
.secondary2{padding-top: 15px; font-size: 16px; }
.mdata_box{height: 230px;}

}
@media (max-width: 1200px){
	.footer .about_cont .mail{display: none;}
}
@media (min-width: 1200px){
	.footer .about_cont .mail{display: block;}
}
