
.tv-header__inner {
    height: 55px
}

.tv-header__inner:after {
    clear: both;
    display: table;
    content: ''
}

@media screen and (max-width:1019px) {
    .tv-header__inner {
        padding: 0;
        height: 49px
    }
}

.tv-header__area {
    height: 55px
}

@media screen and (max-width:1019px) {
    .tv-header__area {
        height: 49px
    }
}

.tv-header__area--left {
    float: left
}

.tv-header__area--right {
    float: right
}

@media screen and (max-width:1019px) {
    .tv-header__area--desktop {
        display: none
    }
}
@media screen and (max-width:767px) {
    .tv-widget-chart__blanket-content {
        width: 77%
    }
}


.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.tv-unauth-header {
    position: relative;
    display: none;
    line-height: normal
}

.is-not-authenticated .index-page .tv-unauth-header {
    display: block
}

.tv-unauth-header__foreground {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 96px 20px 0;
    max-width: 805px;
    color: #fff;
    text-align: center;
    max-height: 100%;
    overflow: hidden
}

@media screen and (max-width:767px) {
    .tv-unauth-header__foreground {
        padding-top: 56px;
        max-width: 700px
    }
}

@media screen and (max-width:479px) {
    .tv-unauth-header__foreground {
        padding-top: 36px;
        max-width: 700px
    }
}

.tv-unauth-header__title {
    font-size: 45px;
    line-height: 1.333;
    margin: 0 0 30px
}

@media screen and (max-width:1019px) {
    .tv-unauth-header__title {
        font-size: 38px
    }
}

@media screen and (max-width:767px) {
    .tv-unauth-header__title {
        font-size: 32px;
        margin-bottom: 20px
    }
}

@media screen and (max-width:479px) {
    .tv-unauth-header__title {
        margin-bottom: 10px
    }
}

.tv-unauth-header__description {
    max-width: 620px;
    margin: 0 auto 60px;
    font-size: 17px;
    line-height: 1.7;
    color: hsla(0, 0%, 100%, .7)
}

@media screen and (max-width:767px) {
    .tv-unauth-header__description {
        margin-bottom: 30px
    }
}


@media screen and (max-width:767px) {
    .tv-unauth-header__link {
        margin-bottom: 30px
    }
}

.tv-unauth-header__symbol-input-container {
    margin: 0 auto 40px;
    max-width: 520px;
    font-size: 16px
}

@media screen and (max-width:479px) {
    .tv-unauth-header__symbol-input-container.tv-unauth-header__symbol-input-container {
        margin-bottom: 30px;
        display: block
    }
}



@media screen and (max-width:479px) {
    .tv-unauth-header__button.tv-unauth-header__button {
        display: block;
        width: 100%;
        padding: 6px 20px;
        border-radius: 2px!important
    }
}

.tv-unauth-header__background {
    position: absolute;
    top: -55px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden
}

@media screen and (max-width:1019px) {

    .tv-unauth-header__background {
        top: -49px;
        bottom: 0
    }
}


.tv-unauth-header__background-svg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
}

.feature-touch .tv-unauth-header__background-svg {
    display: block
}

.tv-unauth-header__tooltip {
    position: absolute;
    width: 0;
    white-space: nowrap;
    pointer-events: none;
    transition-property: width;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-duration: .175s;
    -webkit-transition-duration: .175s
}

.tv-unauth-header__tooltip.i-collapsing {
    transition-timing-function: cubic-bezier(.55, .055, .675, .19)
}

.tv-unauth-header__tooltip--exchanges,
.tv-unauth-header__tooltip--ideas {
    margin-top: -26px;
    line-height: 26px
}

.tv-unauth-header__tooltip--charts,
.tv-unauth-header__tooltip--traders {
    margin-top: -32px;
    line-height: 32px
}

.tv-unauth-header__tooltip-block {
    position: relative;
    width: 100%;
    overflow: hidden
}

.tv-unauth-header__tooltip-block--top {
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    border-bottom: 1px solid #fff
}

.tv-unauth-header__tooltip-block--bottom {
    color: hsla(0, 0%, 100%, .7);
    font-size: 15px
}

.tv-unauth-header__tooltip-text {
    display: block;
    position: absolute;
    transition-timing-function: cubic-bezier(.55, .085, .68, .53);
    transition-duration: .175s;
    -webkit-transition-duration: .175s
}

.tv-unauth-header__tooltip-text--top {
    bottom: -80%;
    transition-property: bottom
}

.tv-unauth-header__tooltip-text--bottom {
    top: -80%;
    transition-property: top
}

.i-collapsing .tv-unauth-header__tooltip-text {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94)
}

.tv-unauth-header__tooltip--exchanges .tv-unauth-header__tooltip-block,
.tv-unauth-header__tooltip--ideas .tv-unauth-header__tooltip-block {
    height: 26px
}

.tv-unauth-header__tooltip--exchanges .tv-unauth-header__tooltip-block--top,
.tv-unauth-header__tooltip--ideas .tv-unauth-header__tooltip-block--top {
    font-size: 17px
}

.tv-unauth-header__tooltip--exchanges .tv-unauth-header__tooltip-block--bottom,
.tv-unauth-header__tooltip--ideas .tv-unauth-header__tooltip-block--bottom {
    font-size: 14px
}

.tv-unauth-header__tooltip--charts .tv-unauth-header__tooltip-block,
.tv-unauth-header__tooltip--traders .tv-unauth-header__tooltip-block {
    height: 32px
}

.tv-unauth-header__tooltip--charts .tv-unauth-header__tooltip-block:first-child,
.tv-unauth-header__tooltip--traders .tv-unauth-header__tooltip-block:first-child {
    font-size: 19px
}

.tv-unauth-header__tooltip--charts .tv-unauth-header__tooltip-block:last-child,
.tv-unauth-header__tooltip--traders .tv-unauth-header__tooltip-block:last-child {
    font-size: 15px
}

.tv-unauth-header__tooltip--charts .tv-unauth-header__tooltip-text,
.tv-unauth-header__tooltip--ideas .tv-unauth-header__tooltip-text {
    right: 5px
}

.tv-unauth-header__tooltip--exchanges .tv-unauth-header__tooltip-text,
.tv-unauth-header__tooltip--traders .tv-unauth-header__tooltip-text {
    left: 5px
}
